<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation=" http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns="http://www.springframework.org/schema/beans">
		<!--Service s = new Service -->
		<!--
		scope="singleton 单例模式,每次使用的getBean都是第一次创建的对象，在mapper里面找"
		scope="property 原型模式,每使用一个getBean就会创建一个对象,不会放入mapper里"
		-->
<bean id="service" class="com.wxq.service.SomeService" 
      scope="singleton" init-method="init" destroy-method="destory"/></beans>
